@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Comfortaa:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comfortaa', cursive;
    background-image: linear-gradient(to right,
    #430f20, #330b54);
    color:beige;
}

.container{
    width: 95%;
    margin: auto;
}

.nav{
    display: contents;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0;

}

.nav h2{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
}

.user-input{
    width: auto;
    text-align: center;
}

.user-input input{
    width: 50%;
    outline: none;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: 0.30s ease-in-out;
}

.user-input input:focus{
    box-shadow: 0 0 5px #f9f9f9;
    border: 1px solid rgb(0, 0, 0);
}

.user-input button{
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    transition: 1s;
    outline: none;
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(219, 211, 211);
    font-family: 'Comfortaa', cursive;
}

.user-input button:hover{
    background-color: transparent;
    background-color: #330b54;
    color: rgb(219, 211, 211);
}

.tasklist{
    width: 500px;
    margin: auto;
}

.item{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 16px;
    color: black;
    margin-top: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: 0.30s ease-in-out;
}

.item:hover{
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.item i{
    cursor: pointer;
    margin: 0 5px;
}

@media(max-width:768px){
    .nav{
        align-items: center;
    }

    .nav h2{
        margin: 10px 0;
    }

    .user-input{
        width: 100%;
    }
}

@media(max-width:480px){
    .user-input input{
        width: 74%;;
    }
}

@media(max-width:320px){
    .user-input input{
        width: 60%;;
    }
}